@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f4f9fc;
    --foreground: rgb(15, 27, 97);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.background-grid-paper {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:
        linear-gradient(#444cf7 2px, transparent 2px),
        linear-gradient(90deg, #444cf7 2px, transparent 2px),
        linear-gradient(#444cf7 1px, transparent 1px),
        linear-gradient(90deg, #444cf7 1px, #e5e5f7 1px);
    background-size:
        50px 50px,
        50px 50px,
        10px 10px,
        10px 10px;
    background-position:
        -2px -2px,
        -2px -2px,
        -1px -1px,
        -1px -1px;
}

.background-zigzag {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.93 22.93'%3E%3Cpolygon fill='%23aadcec' points='0 8.18 14.75 22.93 22.74 22.93 0 0.19 0 8.18'/%3E%3Cpolygon fill='%23aadcec' points='22.93 8.37 22.93 0.38 22.56 0 14.56 0 22.93 8.37'/%3E%3C/svg%3E");
    background-size: calc(1em * var(--zigzag-scale))
        calc(1em * var(--zigzag-scale));
    background-color: #ffffff;
    opacity: 0.75;

    --zigzag-scale: 0.75;
}

.bg-outline {
    text-shadow:
        -1px -1px var(--background),
        0 -1px var(--background),
        1px -1px var(--background),
        -1px 0 var(--background),
        1px 0 var(--background),
        -1px 1px var(--background),
        0 1px var(--background),
        1px 1px var(--background),
        -2px -2px var(--background),
        0 -2px var(--background),
        2px -2px var(--background),
        -2px 0 var(--background),
        2px 0 var(--background),
        -2px 2px var(--background),
        0 2px var(--background),
        2px 2px var(--background),
        -3px -3px var(--background),
        0 -3px var(--background),
        3px -3px var(--background),
        -3px 0 var(--background),
        3px 0 var(--background),
        -3px 3px var(--background),
        0 3px var(--background),
        3px 3px var(--background),
        -4px -4px var(--background),
        0 -4px var(--background),
        4px -4px var(--background),
        -4px 0 var(--background),
        4px 0 var(--background),
        -4px 4px var(--background),
        0 4px var(--background),
        4px 4px var(--background);
}

.bg-wave-clip {
    clip-path: polygon(100% 0%, 0% 0%, 0% 85%, 100% 85%);
    /* clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 90.43%,
        2% 90.35%,
        4% 90.1%,
        6% 89.7%,
        8% 89.16%,
        10% 88.5%,
        12% 87.74%,
        14% 86.91%,
        16% 86.04%,
        18% 85.15%,
        20% 84.29%,
        22% 83.48%,
        24% 82.75%,
        26% 82.13%,
        28% 81.63%,
        30% 81.28%,
        32% 81.09%,
        34% 81.06%,
        36% 81.2%,
        38% 81.5%,
        40% 81.95%,
        42% 82.53%,
        44% 83.23%,
        46% 84.02%,
        48% 84.86%,
        50% 85.74%,
        52% 86.62%,
        54% 87.47%,
        56% 88.25%,
        58% 88.95%,
        60% 89.53%,
        62% 89.98%,
        64% 90.28%,
        66% 90.42%,
        68% 90.39%,
        70% 90.2%,
        72% 89.85%,
        74% 89.35%,
        76% 88.73%,
        78% 88%,
        80% 87.19%,
        82% 86.33%,
        84% 85.45%,
        86% 84.58%,
        88% 83.75%,
        90% 82.99%,
        92% 82.33%,
        94% 81.78%,
        96% 81.38%,
        98% 81.14%,
        100% 81.05%
    ); */
}
