@use "sass:list";
@use "sass:math";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f4f9fc;
    --foreground: rgb(15, 27, 97);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: sans-serif;
}

@mixin text-stroke($width, $resolution) {
    $shadows: ();
    $seg: math.div(360deg, $resolution);

    @for $i from 0 to $resolution {
        $x: math.cos($i * $seg) * $width;
        $y: math.sin($i * $seg) * $width;

        $shadows: list.append($shadows, $x $y var(--background), $separator: comma);
    }

    text-shadow: $shadows;
}

.text-stroke-thin {
    @include text-stroke(3px, 16);
}
.text-stroke-thick {
    @include text-stroke(6px, 16);
}
