@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --background: #ffffff;

    --foreground: #171717;
    --foreground-muted: var(--color-neutral-600);
    --foreground-silent: var(--color-neutral-400);

    --fancy-gradient-1: linear-gradient(to right, #9ab3cd, #b97c5f);
    --fancy-gradient-2: linear-gradient(to right, #803d56, #96adc9);
}

@theme inline {
    --color-background: var(--background);

    --color-foreground: var(--foreground);
    --color-foreground-muted: var(--foreground-muted);
    --color-foreground-silent: var(--foreground-silent);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body[data-theme="dark"] {
    --background: #030608;

    --foreground: #e1ecf3;
    --foreground-muted: var(--color-neutral-400);
    --foreground-silent: var(--color-neutral-600);
}

body {
    background: var(--background);
    color: var(--foreground);

    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;

    overflow-y: scroll;
    scroll-behavior: smooth;

    @apply transition-colors duration-500;

    transition-property: background-color;
}

p,
h1,
h2,
h3,
li {
    @apply transition-colors duration-500;
}

.em-v-1 {
    --em-variant: var(--fancy-gradient-1);
}
.em-v-2 {
    --em-variant: var(--fancy-gradient-2);
}

em {
    font-style: normal;
    font-weight: bold;

    background: var(--em-variant, linear-gradient(to right, #9ab3cd, #b97c5f));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    @apply list-disc pl-5;
}
