@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body[data-theme="dark"] {
    --background: #030608;
    --foreground: #e1ecf3;
}

body {
    background: var(--background);
    color: var(--foreground);

    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.em-v-1 {
    --em-variant: linear-gradient(to right, #9ab3cd, #b97c5f);
}
.em-v-2 {
    --em-variant: linear-gradient(to right, #803d56, #96adc9);
}

em {
    font-style: normal;
    font-weight: bold;

    background: var(--em-variant, linear-gradient(to right, #9ab3cd, #b97c5f));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    @apply list-disc pl-5;
}
